
body{

        padding: 0;

        font-family: "Lucida Grande", Verdana, sans-serif;

        font-size: small;

        background-color: #ddd;
        height: 50%;
        width: 50%;

        padding-top: 80px;
        padding-bottom: 0px;
        padding-left: 30%;

    }

.form1{
border-top: 8px solid #6699CC;
 background-color: #ffffff;
	border-bottom: 1px solid #BBBBBB;
	height: 80px;
	width: 60%;
        text-align: center;
        margin-left: 60px;
}

.form2{
border-top: 8px solid #cccccc;
background-color: #ffffff;
        border-bottom: 1px solid #BBBBBB;
        height: 120px;
        width: 80%;
        text-align: center;
        margin-left: 0px;

       
}

.form3{
border-top: 8px solid #cccccc;
background-color: #ffffff;
        border-bottom: 1px solid #BBBBBB;
        height: 80px;
        width: 80%;
        text-align: center;
        margin-left: 0px;

}

.topic{
font: 12px arial #6699CC;
margin-left: 10px;
}


h2{
font: 12px arial #6699CC;
margin-left: 70px;
}

h3{
text-align: left;
margin-left: 70px;
}

 #header { width: 760px; }
 #imagebar { width: 560px; }
 #primary-navbar { width: 200px; }

