* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 80px 0px 0px;
	background: url('images1/image.gif') #c4b8a1 repeat-x;
	color: #695d47;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	text-align: center;
}

a {
	color: #695d47;
	background-color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #ab9c7e;
	background-color: inherit;
}

span {
	display: none;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

p {
	margin: 0px 0px 15px;
	text-align: justify;
	line-height: 15px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
	visibility: hidden;
}


#body_wrapper {
	padding: 5px 0px 10px;
	width: 100%;
	background-color: #fff;
	color: inherit;
}

#container {
	margin: 0px auto;
	width: 758px;
	text-align: right;
}

#container .content_header {
	margin: 20px 0px 0px auto;
	width: 730px;
	height: 40px;
	background: url('images1/content_header_bg.gif') repeat-x 0% 0%;
}

#container .content {
	margin: 3px 150px 0px 28px;
	width: 580px;
	text-align: left;
}


/* Page Header */

#page_header {
	background: url('images1/header_leftborder.gif') #fff repeat-y 0% 0%;
	color: #6a604e;
	float: left;
}

#page_header h1 {
	width: 280px;
	height: 125px;
        font-size : 25px;
        margin-top: 30px;

}

#page_header p {
  margin-left: 15px;

}


/* Navigational Menu */

#nav_menu {
	margin-left: 9px;
	padding-left: 19px;
	float: right;
	background: url('images1/header_leftborder.gif') #fff repeat-y 0% 0%;
	color: #b3a386;
	text-align: center;
	font-family: tahoma, arial, sans-serif;
}

#nav_menu a {
	color: #b3a386;
	background: inherit;
}

#mav_menu a:hover {
	color: #857860;
	background: inherit;
}

#nav_menu ul {
	width: 450px;
	height: 125px;
	overflow: hidden;
}

#nav_menu li {
	float: left;
	border-width: 0px 1px 1px 0px;
	border-color: #c1b7a5;
	border-style: solid;
	font-size: 20px;
}

#nav_menu li#menu3, #nav_menu li#menu6 {
	border-right: none;
}

#nav_menu li a {
	display: block;
	width: 149px;
	height: 62px;
	text-decoration: none;
}

#nav_menu li a:hover {
	color: #857860;
	background-color: #f4eee2
}

#nav_menu li a span {
	padding-top: 17px;
	display: block;
}


#mix {
	padding-bottom: 12px;
	background: url('images1/gallery_title.gif') no-repeat 29px 80px;
}

#gallery {
	padding: 40px 0px 25px 59px;
}

#gallery ul {
	width: 700px;
}

#gallery li {
	margin-right: 30px;
	margin-bottom: 25px;
	padding: 4px 4px 2px;
	background-color: #c4b8a1;
	color: inherit;
	float: left;
}


/* Page Footer */

#page_footer {
	padding: 9px 10px 6px;
	font-weight: bold;
	float: none;
	clear: both;
}

#page_footer a:hover {
	background-color: inherit;
	color: #4f4635;
}



.thumbnail_dborder_1 {
	margin: 0px 12px 5px 0px;
	background: url('images1/thumbnail_border_1.gif') #695d47 no-repeat 0% 0%;
	color: inherit;
	clear: left;
	float: left;
}

.thumbnail_dborder_2 {
	background: url('images1/thumbnail_border_1.gif') no-repeat 100% 0%;
}

.thumbnail_dborder_3 {
	background: url('images1/thumbnail_border_1.gif') no-repeat 100% 100%;
}

.thumbnail_dborder_4 {
	padding: 4px 4px 3px;
	background: url('images1/thumbnail_border_1.gif') no-repeat 0% 100%;
}

.thumbnail_dborder_1 img {
	border: #fff 7px solid;
}




.thumbnail_border_1 {
	margin: 5px 12px 5px 0px;
	background: url('images1/thumbnail_border_2a.gif') #c5b9a2 no-repeat 0% 0%;
	color: inherit;
	clear: left;
	float: left;
}

.thumbnail_border_2 {
	background: url('images1/thumbnail_border_2b.gif') no-repeat 100% 0%;
}

.thumbnail_border_3 {
	background: url('images1/thumbnail_border_2c.gif') no-repeat 100% 100%;
}

.thumbnail_border_4 {
	padding: 4px 4px 3px;
	background: url('images1/thumbnail_border_2d.gif') no-repeat 0% 100%;
}
