<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
       <runtimeType
            class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime"
            description="WSO2 Web Services Application Server"
            id="org.wso2.wsf.ide.server.wsas.runtime"
            name="WSO2 WSAS"
            vendor="WSO2"
            vendorId="wso2"
            version="2.0">
         <moduleType
               types="jst.web"
               versions="2.2, 2.3, 2.4"/>
       </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            id="org.wso2.wsf.ide.server.wsas.server"
            runtime="true"
            runtimeTypeId="org.wso2.wsf.ide.server.wsas.runtime"
            name="WSO2 WSAS"
            description="WSO2 Web Services Application Server"
            class="org.eclipse.jst.server.generic.core.internal.GenericServer"
            behaviourClass="org.eclipse.jst.server.generic.core.internal.ExternalServerBehaviour"
            hasConfiguration="false"
            initialState="started"
            launchConfigId="org.eclipse.jst.server.generic.core.ExternalLaunchConfigurationType"
            launchModes="run,debug"
            startBeforePublish="true"
            startTimeout="120000"
            stopTimeout="15000"
            supportsRemoteHosts="false"/>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntimeTargetHandler"
            id="org.wso2.wsf.ide.server.generic.wsas.runtimeClasspathProvider"
            runtimeTypeIds="org.wso2.wsf.ide.server.wsas.*"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type id="org.wso2.wsf.ide.server.wsas"/>
      <runtime-component-version
            type="org.wso2.wsf.ide.server.wsas"
            version="2.0"/>
      <adapter>
         <runtime-component id="org.wso2.wsf.ide.server.wsas" />
         <factory class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
         <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
      </adapter>
      <supported>
         <runtime-component any="true"/>
          <facet
	         id="jst.web"
	         version="2.2,2.3,2.4"/>
	  </supported>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
	      runtimeTypeId="org.wso2.wsf.ide.server.wsas.runtime"
	      runtime-component="org.wso2.wsf.ide.server.wsas"
	      version="2.0"/>
   </extension>      
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
   </extension>
   <extension point="org.eclipse.wst.server.ui.serverImages">
    <image
     id="org.eclipse.jst.server.generic.image"
     icon="icons/wsas-facet.ico"
     typeIds="org.wso2.wsf.ide.server.wsas.runtime"/>
    <image
     id="org.eclipse.jst.server.generic.image"
     icon="icons/wsas-facet.ico"
     typeIds="org.wso2.wsf.ide.server.wsas.server"/>
   </extension>

   <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image runtime-component-type="org.wso2.wsf.ide.server.wsas"
    path="icons/wsas-facet.ico" /> 	
   </extension>
   
   <extension
         point="org.eclipse.jst.server.generic.core.serverdefinition">
      <serverdefinition
            definitionfile="wsas.serverdef"
            id="org.wso2.wsf.ide.server.wsas.runtime"/>
   </extension>   
   
</plugin>
