<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="org.eclipse.wst.common.project.facet.core.facets">
	
	  <category id="WSAS.category">
    	<label>WSO2 Web Services Application</label>
    	<description> Enables Web Services generation through WSO2 Web Services Application Engine.</description>
  	  </category>

		  <project-facet id="WSAS.core">
			<label>WSAS Web Services Core</label>
			<description>
			  Prepare the Project for Web Services generation through WSO2 Web Services Application Server.
			</description>
			<category>WSAS.category</category>
		  </project-facet>

		<project-facet-version facet="WSAS.core" version="1.1">
		    <constraint>
      			<requires facet="jst.web" version="2.2,2.3,2.4"/>
    		</constraint>
    		<action type="INSTALL" id="WSAS.core.install">
      			<delegate class="org.wso2.wsas.wtp.facet.deligate.WSASCoreFacetInstallDelegate"/>
      			<config-factory class="org.wso2.wsas.wtp.facet.model.WSASCoreFacetInstallConfig$Factory"/>
    		</action>
    		<action type="UNINSTALL">
      			<delegate class="org.wso2.wsas.wtp.facet.deligate.WSASCoreFacetUnInstallDelegate"/>
    		</action>
  		</project-facet-version>
  		
  		<project-facet id="WSAS.ext">
			<label>WSAS Web Services Extensions</label>
			<description>
			  Prepare the Project for additional Web services support with the WSO2 Web Services Application Server.
			</description>
			<category>WSAS.category</category>
		  </project-facet>

		<project-facet-version facet="WSAS.ext" version="1.1">
		    <constraint>
      			<requires facet="WSAS.core" version="1.1"/>
    		</constraint>
    		<action type="INSTALL">
      			<delegate class="org.wso2.wsas.wtp.facet.deligate.WSASExtFacetInstallDelegate"/>
    		</action>
    		<action type="UNINSTALL">
      			<delegate class="org.wso2.wsas.wtp.facet.deligate.WSASExtFacetUnInstallDelegate"/>
    		</action>
  		</project-facet-version>
  
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.ui.images">
  		<image facet="WSAS.core" path="icons/wsas-facet-add.gif"/>
  		<image facet="WSAS.ext" path="icons/wsas-facet-add.gif"/>
  		<image category="WSAS.category" path="icons/wsas-facet.ico"/>
	</extension>
	
	<extension
       point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
      <runtime-component
         any="true"/>
      <facet
         id="WSAS.core"
         version="1.1"/>
      <facet
         id="WSAS.ext"
         version="1.1"/>
    </supported>
 </extension>
 
 
 	<extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
  		<wizard-pages action="WSAS.core.install">
    		<page class="org.wso2.wsas.wtp.facet.ui.WSASFacetInstallPage" />
  		</wizard-pages>
	</extension> 
	
	
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
  		<preset id="WSAS.preset">
    		<label>WSAS Web Services Project</label>
    		<description>Creates a web project with WSAS functionality.</description>
    		<facet id="jst.java" version="5.0"/>
    		<facet id="jst.web" version="2.2"/>
    		<facet id="WSAS.core" version="1.1"/>
    		<facet id="WSAS.ext" version="1.1"/>
  		</preset>
	</extension>
	
 

</plugin>
