<plugin>

   <runtime>
      <library name="">
         <export name="*"/>
      </library>
       <library name="lib/axis2-kernel-@axis2_version@.jar">
           <export name="*"/>
       </library>
       <library name="lib/axis2-saaj-@axis2_saaj_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis2-saaj-api-@axis2_saaj_api_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-codec-@commons_codec_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-httpclient-@commons_httpclient_version@.jar">
         <export name="*"/>
      </library>
       <library name="lib/commons-logging-@commons_logging_version@.jar">
           <export name="*"/>
       </library>
       <library name="lib/mail-@mail_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/stax-api-@stax_api_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/wstx-asl-@stax_impl_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/XmlSchema-@xmlshema_version@.jar">
         <export name="*"/>
      </library>
       <library name="lib/commons-io-@commons_io_version@.jar">
           <export name="*"/>
       </library>
       <library name="lib/axiom-api-@axiom_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-dom-@axiom_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/axiom-impl-@axiom_version@.jar">
         <export name="*"/>
      </library>
      <library name="lib/wsdl4j-@wsdl4j_verison@.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl-@xerces_verison@.jar">
         <export name="*"/>
      </library>
   </runtime>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.wso2.wsf.ide.wtp.ext.server.ui" label="WSAS Server"
			visible="true">
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.stop"
				label="WSAS Stop" 
				icon="icons/stop.gif" 
				tooltip="WSAS Server Stop"
				toolbarPath="Normal/additions"
				helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.stop.help"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStopDelegate">
 				<enablement> 
           			<systemProperty name="WSASStartStatus" value="done"/> 
       			</enablement> 
			</action>
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.debug"
                label="WSAS Debug" 
                icon="icons/debug.gif" 
                tooltip="WSAS Server Debug" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.debug.help"
                class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASDebugDelegate">
            </action>
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.start"
				label="WSAS Start" 
				icon="icons/start.gif" 
				style="pulldown"
				tooltip="WSAS Server Start" 
				toolbarPath="Normal/additions"
				helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.start.help"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStartDelegate">
			</action>
		</actionSet>
	</extension>



	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.wso2.wsf.ide.wtp.ext.server.ui.menu"
			label="WSAS Server"
			visible="true">

			<menu
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu"
				label="WSAS" path="additions">
			</menu>
			
			<menu
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.toolLevelMenu"
				label="WSAS Server Tools" path="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/additions">
				<separator name="WSASToolGroup" />
			</menu>
			
			<action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.wsdl.converter"
                label="WSDL Converter" icon="icons/converter.gif"
                tooltip="Convert WSDL 1.1 to 2.0"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.toolLevelMenu/WSASToolGroup"
                class="org.wso2.wsf.ide.wtp.ext.wsdl.converter.delegate.WSDLConverterDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.validate.module"
                label="Validate modules.xml" icon="icons/modules.gif"
                tooltip="Validate module XML File"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.toolLevelMenu/WSASToolGroup"
                class="org.wso2.wsf.ide.wtp.ext.validate.module.delegate.ModuleValidaterDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.validate.service"
                label="Validate services.xml" icon="icons/services.gif"
                tooltip="Validate Services XML File"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.toolLevelMenu/WSASToolGroup"
                class="org.wso2.wsf.ide.wtp.ext.validate.service.delegate.ArchiveValidaterDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.dumpaar"
                label="Dump WSAS Archive" icon="icons/dump_aar.gif"
                tooltip="Dump WSAS Archive"
 				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.toolLevelMenu/WSASToolGroup"
                class="org.wso2.wsf.ide.wtp.ext.dumpaar.delegate.DumpAARDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.java2wsdl"
                label="WSO2 WSAS JAVA2WSDL" icon="icons/java2wsdl.gif"
                tooltip="WSO2 WSAS JAVA2WSDL Tool"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.toolLevelMenu/WSASToolGroup"
                class="org.wso2.wsf.ide.wtp.ext.java2wsdl.delegate.JAVA2WSDLDelegate">
            </action>
			
			<menu
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.subLevelMenu"
				label="WSAS Server" path="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/additions">
				<separator name="WSASToolGroup" />
			</menu>
			
			<action
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.start.action"
				label="WSAS Stop" icon="icons/stop.gif"
				tooltip="WSAS Server Stop"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.subLevelMenu/WSASToolGroup"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStopMenuDelegate">
 				<enablement> 
           			<systemProperty name="WSASStartStatus" value="done"/> 
       			</enablement> 
			</action>
			<action
                id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.debug.action"
                label="WSAS Debug" icon="icons/debug.gif"
                tooltip="WSAS Server Debug"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.subLevelMenu/WSASToolGroup"
                class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASDebugMenuDelegate">
            </action>
			<action
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.stop.action"
				label="WSAS Start" icon="icons/start.gif"
				tooltip="WSAS Server Start"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/org.wso2.wsf.ide.wtp.ext.server.ui.menu.subLevelMenu/WSASToolGroup"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStartMenuDelegate">
			</action>
		</actionSet>
	</extension>

       <extension point="org.eclipse.ui.actionSets">
        <actionSet id="org.wso2.wsf.ide.wtp.ext.wsas.tools" label="WSAS Tools"
            visible="true">
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.wsdl.converter"
                label="WSDL Converter" 
                icon="icons/converter.gif" 
                tooltip="Convert WSDL 1.1 to 2.0" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.wsdl.converter.help"
                class="org.wso2.wsf.ide.wtp.ext.wsdl.converter.delegate.WSDLConverterDelegate">
            </action>
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.validate.module"
                label="Validate module.xml" 
                icon="icons/modules.gif" 
                tooltip="Validate Module XML File" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.validate.service.help"
                class="org.wso2.wsf.ide.wtp.ext.validate.module.delegate.ModuleValidaterDelegate">
            </action>
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.validate.service"
                label="Validate services.xml" 
                icon="icons/services.gif" 
                tooltip="Validate Services XML File" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.validate.service.help"
                class="org.wso2.wsf.ide.wtp.ext.validate.service.delegate.ArchiveValidaterDelegate">
            </action>
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.dumpaar"
                label="Dump AAR" 
                icon="icons/dump_aar.gif" 
                tooltip="Dump WSAS Archive"
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.dumpaar.help"
                class="org.wso2.wsf.ide.wtp.ext.dumpaar.delegate.DumpAARDelegate">
            </action>
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.java2wsdl"
                label="WSO2 WSAS JAVA2WSDL" 
                icon="icons/java2wsdl.gif" 
                tooltip="WSO2 WSAS JAVA2WSDL Tool"
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.java2wsdl.help"
                class="org.wso2.wsf.ide.wtp.ext.java2wsdl.delegate.JAVA2WSDLDelegate">
            </action>
        </actionSet>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS Wizards" id="WSAS_Wizards"></category>
        <wizard name="WSAS WSDL Converter" icon="icons/converter.gif"
            category="WSAS_Wizards"
            class="org.wso2.wsf.ide.wtp.ext.wsdl.converter.WSASWSDLConverterWizard"
            id="org.wso2.wsf.ide.wtp.ext.wsdl.converter.wsdlConverterWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS Wizards" id="WSAS_Wizards"></category>
        <wizard name="WSAS Module Validater" icon="icons/modules.gif"
            category="WSAS_Wizards"
            class="org.wso2.wsf.ide.wtp.ext.validate.module.WSASModuleValidaterWizard"
            id="org.wso2.wsf.ide.wtp.ext.validate.module.moduleValidaterWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS Wizards" id="WSAS_Wizards"></category>
        <wizard name="WSAS Archive Validater" icon="icons/services.gif"
            category="WSAS_Wizards"
            class="org.wso2.wsf.ide.wtp.ext.validate.service.WSASArchiveValidaterWizard"
            id="org.wso2.wsf.ide.wtp.ext.validate.service.archiveValidaterWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS Wizards" id="WSAS_Wizards"></category>
        <wizard name="WSAS Dump Service Archiver" icon="icons/dump_aar.gif"
            category="WSAS_Wizards"
            class="org.wso2.wsf.ide.wtp.ext.dumpaar.WSASDumpArchiverWizard"
            id="org.wso2.wsf.ide.wtp.ext.dumpaar.dumpArchiverWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS Wizards" id="WSAS_Wizards"></category>
        <wizard name="WSAS JAVA 2 WSDL" icon="icons/java2wsdl.gif"
            category="WSAS_Wizards"
            class="org.wso2.wsf.ide.wtp.ext.java2wsdl.WSASJAVA2WSDLWizard"
            id="org.wso2.wsf.ide.wtp.ext.java2wsdl.java2wsdlWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.help.toc">
        <toc file="help_toc.xml" primary="true" />
    </extension>


</plugin>
