<module name="logging" class="axis2_mod_log">
    <inflow>
        <handler name="LoggingInHandler" class="axis2_mod_log">
            <order phase="PreDispatch"/>
        </handler>
    </inflow>

    <outflow>
        <handler name="LoggingOutHandler" class="axis2_mod_log">
            <order phase="MessageOut"/>
        </handler>
    </outflow>

    <Outfaultflow>
        <handler name="LoggingOutHandler" class="axis2_mod_log">
            <order phase="MessageOut"/>
        </handler>
    </Outfaultflow>
</module>
