<plugin>
  
   <extension point="org.eclipse.ui.preferencePages">     
      <page
            name="%PREFERENCE_CATEGORY_WSAS_RUNTIME"
            category="org.eclipse.wst.ws.internal.ui.preferences.name"
            class="org.wso2.wsf.ide.consumption.ui.preferences.WSASRuntimePreferencePage"
            id="org.wso2.wsf.ide.consumption.ui.preferences.WSASRuntimePreferencePage">
      </page>
   </extension>
   
</plugin>