<plugin>

   <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS DS Wizards" id="WSAS_DS_Wizards"></category>
        <wizard name="WSAS Data Service Creaion Wizard" icon="icons/ds.gif"
            category="WSAS_DS_Wizards"
            class="org.wso2.wsf.ide.ds.creation.wizard.WSASDSCreatorWizard"
            id="org.wso2.wsf.ide.ds.dsCreaterWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.help.toc">
        <toc file="help_toc.xml" primary="true" />
    </extension>


</plugin>
