<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.wst.command.env.ui.widgetRegistry">
      <widgetFactory   
        id="BeanExampleConfig"
        insertBeforeCommandId="org.wso2.wsf.wtp.ws.creation.ui.command.WSASBUCommand"
        class="org.wso2.wsf.wtp.ws.creation.ui.wsrt.WSASBeanConfigWidgetFactory"/>
    </extension> 
    
    <extension point="org.eclipse.jst.ws.consumption.ui.runtimes">
      <runtime
        id="org.eclipse.jst.ws.wsas.creation.wsasWebServiceRT"
        label="%LABEL_RUNTIME_WSO2_WSAS"
        serverRequired="false"/>
    </extension>


	<!-- define support for WSAS Java bean bottom up and top-down support in web projects -->
    <extension point="org.eclipse.jst.ws.consumption.ui.serviceRuntimes">
      <serviceRuntime
        id="org.eclipse.jst.ws.wsas.creation.java" 
        serviceImplementationTypeId="org.eclipse.jst.ws.wsImpl.java"
        runtimeId="org.eclipse.jst.ws.wsas.creation.wsasWebServiceRT"
        bottomUp="true"
        topDown="true"
        class="org.wso2.wsf.wtp.ws.creation.ui.wsrt.WSASWebServiceRuntime">
        <required-facet-version facet="jst.web" version="2.3" allow-newer="true"/>
      </serviceRuntime>
    </extension>   
    
</plugin>
