<plugin>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.wso2.wsf.ide.wtp.ext.server.ui" label="WSAS Server"
			visible="true">
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.stop"
				label="WSAS Stop" 
				icon="icons/stop.gif" 
				tooltip="WSAS Server Stop"
				toolbarPath="Normal/additions"
				helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.stop.help"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStopDelegate">
 				<enablement> 
           			<systemProperty name="WSASStartStatus" value="done"/> 
       			</enablement> 
			</action>
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.start"
				label="WSAS Start" 
				icon="icons/start.gif" 
				style="pulldown"
				tooltip="WSAS Server Start" 
				toolbarPath="Normal/additions"
				helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.start.help"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStartDelegate">
			</action>
		</actionSet>
	</extension>



	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.wso2.wsf.ide.wtp.ext.server.ui.menu"
			label="WSAS Server"
			visible="true">

			<menu
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu"
				label="WSAS" path="additions">
				<separator name="WSASGroup" />
			</menu>
			
			<action
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.start.action"
				label="WSAS Stop" icon="icons/stop.gif"
				tooltip="WSAS Server Stop"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/WSASGroup"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStopMenuDelegate">
 				<enablement> 
           			<systemProperty name="WSASStartStatus" value="done"/> 
       			</enablement> 
			</action>
			<action
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.stop.action"
				label="WSAS Start" icon="icons/start.gif"
				tooltip="WSAS Server Start"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/WSASGroup"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStartMenuDelegate">
			</action>
		</actionSet>
	</extension>




</plugin>
