<plugin>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.wso2.wsf.ide.wtp.ext.server.ui" label="WSAS Server"
			visible="true">
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.stop"
				label="WSAS Stop" 
				icon="icons/stop.gif" 
				tooltip="WSAS Server Stop"
				toolbarPath="Normal/additions"
				helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.stop.help"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStopDelegate">
 				<enablement> 
           			<systemProperty name="WSASStartStatus" value="done"/> 
       			</enablement> 
			</action>
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.debug"
                label="WSAS Debug" 
                icon="icons/debug.gif" 
                tooltip="WSAS Server Debug" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.debug.help"
                class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASDebugDelegate">
            </action>
			<action id="org.wso2.wsf.ide.wtp.ext.server.ui.start"
				label="WSAS Start" 
				icon="icons/start.gif" 
				style="pulldown"
				tooltip="WSAS Server Start" 
				toolbarPath="Normal/additions"
				helpContextId="org.wso2.wsf.ide.wtp.ext.server.ui.start.help"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStartDelegate">
			</action>
		</actionSet>
	</extension>



	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.wso2.wsf.ide.wtp.ext.server.ui.menu"
			label="WSAS Server"
			visible="true">

			<menu
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu"
				label="WSAS" path="additions">
				<separator name="WSASGroup" />
			</menu>
			
			<action
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.start.action"
				label="WSAS Stop" icon="icons/stop.gif"
				tooltip="WSAS Server Stop"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/WSASGroup"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStopMenuDelegate">
 				<enablement> 
           			<systemProperty name="WSASStartStatus" value="done"/> 
       			</enablement> 
			</action>
			<action
                id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.debug.action"
                label="WSAS Debug" icon="icons/debug.gif"
                tooltip="WSAS Server Debug"
                menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/WSASGroup"
                class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASDebugMenuDelegate">
            </action>
			<action
				id="org.wso2.wsf.ide.wtp.ext.server.ui.menu.stop.action"
				label="WSAS Start" icon="icons/start.gif"
				tooltip="WSAS Server Start"
				menubarPath="org.wso2.wsf.ide.wtp.ext.server.ui.menu.topLevelMenu/WSASGroup"
				class="org.wso2.wsf.ide.wtp.ext.server.ui.WSASStartMenuDelegate">
			</action>
		</actionSet>
	</extension>

       <extension point="org.eclipse.ui.actionSets">
        <actionSet id="org.wso2.wsf.ide.wtp.ext.wsas.tools" label="WSAS Tools"
            visible="true">
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.validate.service"
                label="Validate services.xml" 
                icon="icons/test.gif" 
                tooltip="Validate Services XML File" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.validate.service.help"
                class="org.wso2.wsf.ide.wtp.ext.validate.service.delegate.ValidateServiceDelegate">
            </action>
             <action id="org.wso2.wsf.ide.wtp.ext.server.tools.validate.wsdl"
                label="Validate WSDL" 
                icon="icons/test.gif" 
                tooltip="Validate WSDL File" 
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.validate.wsdl.help"
                class="org.wso2.wsf.ide.wtp.ext.validate.wsdl.delegate.ValidateWSDLDelegate">
            </action>
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.dumpaar"
                label="Dump AAR" 
                icon="icons/test.gif" 
                tooltip="Dump WSAS Archive"
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.dumpaar.help"
                class="org.wso2.wsf.ide.wtp.ext.dumpaar.delegate.DumpAARDelegate">
            </action>
            <action id="org.wso2.wsf.ide.wtp.ext.server.tools.java2wsdl"
                label="WSO2 WSAS JAVA2WSDL" 
                icon="icons/test.gif" 
                tooltip="WSO2 WSAS JAVA2WSDL Tool"
                toolbarPath="Normal/additions"
                helpContextId="org.wso2.wsf.ide.wtp.ext.server.tools.java2wsdl.help"
                class="org.wso2.wsf.ide.wtp.ext.java2wsdl.delegate.JAVA2WSDLDelegate">
            </action>
        </actionSet>
    </extension>
    
    <extension point="org.eclipse.ui.actionSets">
        <actionSet
            id="org.wso2.wsf.ide.wtp.ext.server.wsas.tools.menu"
            label="WSAS Tools Menu"
            visible="true">

            <menu
                id="org.wso2.wsf.ide.wtp.ext.server.tools.menu.topLevelMenu"
                label="WSASTools" path="additions">
                <groupMarker name="WSASToolsGroup" />
             </menu>
            
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.validate.service"
                label="Validate services.xml" icon="icons/test.gif"
                tooltip="Validate Services XML File"
                menubarPath="org.wso2.wsf.ide.wtp.ext.server.tools.menu.topLevelMenu/WSASToolsGroup"
                class="org.wso2.wsf.ide.wtp.ext.validate.service.delegate.ValidateServiceDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.validate.wsdl"
                label="Validate WSDL" icon="icons/test.gif"
                tooltip="Validate WSDL File"
                menubarPath="org.wso2.wsf.ide.wtp.ext.server.tools.menu.topLevelMenu/WSASToolsGroup"
                class="org.wso2.wsf.ide.wtp.ext.validate.wsdl.delegate.ValidateWSDLDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.dumpaar"
                label="Dump WSAS Archive" icon="icons/test.gif"
                tooltip="Dump WSAS Archive"
                menubarPath="org.wso2.wsf.ide.wtp.ext.server.tools.menu.topLevelMenu/WSASToolsGroup"
                class="org.wso2.wsf.ide.wtp.ext.dumpaar.delegate.DumpAARDelegate">
            </action>
            <action
                id="org.wso2.wsf.ide.wtp.ext.tools.menu.java2wsdl"
                label="WSO2 WSAS JAVA2WSDL" icon="icons/test.gif"
                tooltip="WSO2 WSAS JAVA2WSDL Tool"
                menubarPath="org.wso2.wsf.ide.wtp.ext.server.tools.menu.topLevelMenu/WSASToolsGroup"
                class="org.wso2.wsf.ide.wtp.ext.java2wsdl.delegate.JAVA2WSDLDelegate">
            </action>
        </actionSet>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSAS Wizards" id="WSAS_Wizards"></category>
        <wizard name="WSAS Dump Service Archiver" icon="icons/test.gif"
            category="WSAS_Wizards"
            class="org.wso2.wsf.ide.wtp.ext.dumpaar.WSASDumpArchiverWizard"
            id="org.wso2.wsf.ide.wtp.ext.dumpaar.dumpArchiverWizard">
        </wizard>
    </extension>
    
    <extension point="org.eclipse.help.toc">
        <toc file="help_toc.xml" primary="true" />
    </extension>


</plugin>
