<module name="bam_publisher" class="bam_publisher">
    <Description>
        This module responsible for firing bam_publisher events
    </Description>
    <inflow>
        <handler name="svc_stat_handler" class="bam_publisher">
            <order phase="Dispatch"/>
        </handler>
        <handler name="op_stat_handler" class="bam_publisher">
            <order phase="OpPhase"/>
        </handler>
        <handler name="response_time_handler" class="bam_publisher">
            <order phase="Transport"/>
        </handler>
    </inflow>
   <parameter name="service_request_count_threshold" locked="false">5</parameter>
</module>
